button {
    margin-left: 20px;
}

label {
    font-size: large;
    color: green;
}

h2 {
    color: green;
}

h4 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    padding-left: 20px;

}

hr {
    color: green;
    width: 100%;
}
.thb {
    padding-left: 50px;

}

.Loginsenha {
    border: dotted green;
    width: 100%;
    padding: 15px;
}

.div1 {
    width: 100%;
    align-items: center;
    text-align: center;
}

.navbar {
    width: 100%;
    margin-top: 2px;
    color: green;
}

.navcolor {
    color: green;
}

.cadastro {
    width: 1200px;
    padding: 30px;
    border: outset green;
}

.navform {
    margin-left: 10px;
    width: 300px
}

.nav {
    width: 100%;
    margin-top: 2px;
}

.texto {
    background-color: green;
    color: white;
    text-align: center;
    width: 550px;
    line-height: 30px;
    height: auto;
    padding: 50px;

}

.botao {
    background-color: white;
    color: green;
}

.img1 {
    width: 800px;
    margin-right:150px;

}


.img2 {
    
    margin-left:150px;

}

.container {
    width: 100%;
    align-items: justify;
    text-align: center;
}

.block {
    align-items: center;
    text-align: center;

}


.info {
    background-image: url(img/bg_info.jpg);
    align-items: justify;
    text-align: center;
    width: 100%;
    height: 300px;
}

.h2{
    color: whitesmoke;
}

#footer {
    width: 100%;
    align-items: justify;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#navlogo {
    margin-left: 100px;
}

#navform {
    margin-right: 100px;
}