body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

input[type="text"],
select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.btn-search {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-results {
  margin-top: 20px;
}

.doctor-area {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doctor-area h2 {
  font-size: 18px;
  text-align: center;
}

#patient-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

#patient-table th,
#patient-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Estilo dos botões */
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3c9039;
}

button:focus {
  outline: none;
}
